* {
  font-family: 'Gaegu', cursive;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16pt;
  font-weight: bold;
}

.container {
  margin: 0 auto;
  width: 20em;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: .3em;
}

input {
  padding: .2em .5em;
}

button {
  padding: .3em 1.4em;
  border: 0;
  background: #61b3f9;
}

svg {
  fill: none;
  border: 1px solid #ccc;
}

svg path {
  stroke: #00BCD4;
  stroke-width: 0.3;
}
svg path#graph {
  stroke: #ffc107;
}
